Package: odn-restsql
Source: odn-restsql
Version: 1.0.0
Section: java
Priority: extra
Architecture: all
Maintainer: jan.marcek@eea.sk
Homepage:https://github.com/OpenDataNode/odn-restsql
Depends: openjdk-7-jre-headless, tomcat7
Replaces: lodms
Description: restSQL is an ultra-lightweight data access layer for HTTP clients. restSQL is a persistence framework or engine in the middle tier of a classic three tier architecture: client, application server and database. It may also be embedded in any middle-tier as a Java library.
